body {
  background: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.stack-container {
  height: 200px;
  width: 10px;
  border: 1px solid black;
  background: brown;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

main {
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}

.box {
  width: 100px;
  height: 25px;
  background: rgb(177, 47, 47);
  border: 2px solid black;
  border-radius: 10%;
}

.box1 {
  width: 50px;
  background: cornflowerblue;
  order: 1;
}

.box2 {
  width: 75px;
  background: rgb(219, 208, 55);
  order: 2;
}

.box4 {
  width: 125px;
  background: rgb(49, 155, 64);
  order: 4;
}

.box3 {
  order: 3;
}

.base {
  background: brown;
  border: 1px solid black;
  height: 10px;
  width: 200px;
}

.drop-container {
  height: 200px;
  width: 200px;

  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
